<div class="container aling-items-center">
  <div class="d-flex flex-column align-items-center" style="margin-top: 5px;">
    <p>Hogwarts es una escuela a la cual asisten jóvenes magos para desarrollar sus habilidades mágicas. El edificio,
      situado en las colinas de Escocia, es visto como un antiguo edificio en ruinas con un cartel que dice "cuidado,
      ruinas peligrosas", por las personas ajenas a poderes mágicos (más comúnmente conocidos como muggles).<br>
      Durante más de mil años, los alumnos fueron distribuidos a su llegada, en las diferentes casas, mediante el
      veredicto del Sombrero Seleccionador, con los apellidos de los cuatro fundadores de la escuela: Gryffindor,
      donde van los valientes de corazón; Hufflepuff, donde asisten los estudiantes trabajadores, honestos, amantes de
      los animales y la naturaleza; Ravenclaw, a donde pertenecen los inteligentes y sabios; y Slytherin, donde son
      audaces y ambiciosos.</p>
  </div>
</div>
<div style="display: flex; justify-content: center;">
  <%= image_tag "01.png", alt: "", size: "450x300" %>
</div>
<div id="wraper">
  <section id="main" class="wrapper">
    <div class="container">
      <div class inner>
        <div class="table-container">
          <table class="table table-striped table-dark table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Nombre</th> <br>
                <th>Ubicación</th><br>
                <th>Casa</th><br>
              </tr>
            </thead>
            <tbody>
              <% @characters.each do |character| %>
              <tr>
                <td><%= character.name %></td>
                <td><%= character.location %></td>
                <td><%= character.house %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div style="display: flex; justify-content: center;">
          <%= image_tag "04.png", alt: "", size: "450x300" %>
        </div>
      </div>
    </div>
</div>
</section>
</div>